{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Weatherstation - Version 2.0 - by Aby Varughese
  </h3>
  <div class="column">

    <img src="/images/weatherstation.png"  />
</section>