{{> menu id="dashboard"}}

<section class="ui segment">
    <h2 class="ui header">
      Station List of {{account.firstName}} {{account.lastName}}

    </h2>
</section>

  {{> liststations}}
  {{> map}}
  {{> addstation}}


