{{> menu}}

  <section class="ui segment">
    <h2 class="ui header">
      {{station.title}}
    </h2>
    <!-- set station as main object because that is what stationheader expects -->
    {{#with station}}
      {{> stationheader}}
      {{> trends}}
    {{/with}}
  {{> listreadings}}
  {{> addreading}}

</section>